# Ignore the virtual environment directory
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Django migrations
*/migrations/*

# Ignore database files
*.sqlite3

# Ignore media files
media/

# Ignore static files
staticfiles/

# Ignore environment variables file
.env
.vercel

bankapp/bank_security.log
